<div class="convert-form">
  <form class="form-from">
    <input id="from" type="number" class="form-control from" />
    <select
      name="from-currency"
      class="currency from"
      [(ngModel)]="selectedFrom"
    >
      <option *ngFor="let n of currency">{{ n }}</option>
    </select>
  </form>
  <form class="form-to">
    <input id="to" type="number" class="form-control to" />
    <select name="to-currency" class="currency to" [(ngModel)]="selectedTo">
      <option *ngFor="let n of currency">{{ n }}</option>
    </select>
  </form>
</div>
