/* You can add global styles to this file, and also import other style files */
* {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.5px;
}

body {
  margin: 20px auto;
  text-align: center;
  border: 2px solid lightgray;
  border-radius: 5px;
  max-width: 600px;
  box-shadow: 10px 10px 15px lightgrey;
}
